.card-action {
    max-width: 300px;
    width: 200px;
    height: 300px;
    border: solid 1px #b7b9ce;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
}
.fast-action:hover{
    box-shadow: 5px 2px 5px 0px #d6d6d6;
    transition:0.8s;
}
.fast-action a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.fast-action-name{
    margin-bottom: 10px;
    font-weight: 800;

}


.card-action:hover {
    cursor: pointer;
}

.card-action .icon {
    font-size: 3rem;
    margin: 10px;
}

.card-action .name {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
