avatar-container{
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius:50px;
    align-self: center;
    margin-bottom:20px;
}
dados-user{
    text-align: center;
}
dados-user span{
    font-size: 12px;
}
menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: 1px solid #b7b9ce;
  
   
}
menu ul{
    padding-left:20px;
    padding-right:20px;
    
}
menu ul li{
    border-radius: 10px;
    padding:10px;
    background-color:#fafafc;
    transition: 0.3s;
    margin-top: 10px;
}
menu ul li:hover{
    border-radius: 10px;
    padding:10px;
    cursor:pointer;
    font-weight: bolder;
}