<div class="row">
    <div class='input-form'>
      <label>CPF</label>
      <input type="number" placeholder="Digite os números do CPF" />
    </div>
    <div class='input-form'>
      <label>Nome</label>
      <input type="text" placeholder="Preencha o nome completo" />
    </div>
    <div class='input-form'>
      <label>RG</label>
      <input type="number" placeholder="Digite os números do RG" />
    </div>
  </div>
  <div class="row">
    <div class='input-form'>
      <label>Endereço</label>
      <input type="text" placeholder="Preencha o endereço" />
    </div>
    <div class='input-form'>
      <label>Nº</label>
      <input type="text" placeholder="Número/complemento" />
    </div>
  </div>