.bg-purple {
    background-color: #70367C;
}

.bd-purple {
    border: solid 1px #70367C;
}

.bg-green {
    background-color: #15C785;
}

.bd-green {
    border: solid 1px #15C785;
}

.bg-red {
    background-color: #F87474;
}

.bd-red {
    border: solid 1px #F87474;
}

.bg-cian {
    background-color: #3AB0FF;
}

.bd-cian {
    border: solid 1px #3AB0FF;
}

.bg-orange {
    background-color: #FFB562;
}

.bd-orange {
    border: solid 1px #FFB562;
}
