<div class="listContent">
  <div class="topo">
    <div class="button-action green" >
      <div class="icon"><i class='bx bx-plus'></i></div>
      <div class="fast-action-name">Nova Empresa</div>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Pesquise Empresas..." />
    </div>
    <div>
      <div class="search-button"><i class='bx bx-search'></i></div>
    </div>
  </div>
</div>
  <table id="employe">
    <tr>
      <th>Nome da Empresa</th>
      <th>Status</th>
      <th>Açoes</th>
    </tr>
    <tr>
      <td>77Seg - Clube de Seguros</td>
      <td>ativo</td>
      <td><button class="action"><i class='bx bx-edit-alt'></i></button> <button
          class="action-del"><i class='bx bx-trash'></i></button>
      </td>
    </tr>
  </table>
