<div class="listContent">
  <div class="topo">
    <div class="button-action green" >
      <div class="icon"><i class='bx bx-user-plus'></i></div>
      <div class="fast-action-name">Novo Usuário</div>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Usuário..." />
    </div>
    <div>
      <div class="search-button"><i class='bx bx-search'></i></div>
    </div>
  </div>
</div>
  <table id="employe">
    <tr>
      <th>Usuário</th>
      <th>Acesso</th>
      <th>Açoes</th>
    </tr>
    <tr>
      <td>Usuário</td>
      <td>Administrativo</td>
      <td><button class="action"><i class='bx bx-edit-alt'></i></button> <button
          class="action-del"><i class='bx bx-trash'></i></button>
      </td>
    </tr>
  </table>
