<div class="topo">
    <div class="button-action green">
        <div class="icon"><i class='bx bx-user-plus'></i></div>
        <div class="fast-action-name">Cadastrar</div>
    </div>
    <div>
        <input type="text" />
    </div>
    <div class="search-button">
        <div class="icon"><i class='bx bx-user-plus'></i></div>
        
    </div>


</div>

<div>

</div>
<table id="employe">
    <tr>
        <th>Nome do Funcionário</th>
        <th>Status</th>
        <th>Açoes</th>
    </tr>
    <tr>
        <td>Denis</td>
        <td>Ativo</td>
        <td><button class="action"><i class='bx bx-edit-alt'></i></button> <button><i class='bx bx-trash'></i></button>
        </td>
    </tr>
    <tr>
        <td>Leonardo</td>
        <td>Inativo</td>
        <td><button><i class='bx bx-edit-alt'></i></button><button><i class='bx bx-trash'></i></button></td>
    </tr>
    <tr>
        <td>Joana</td>
        <td>Ativo</td>
        <td><button><i class='bx bx-edit-alt'></i></button><button><i class='bx bx-trash'></i></button></td>
    </tr>

</table>